<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar jugador</h1>
    <form action="/jugadores/<%= jugador.id %>/edit?_method=PUT" method="post">
        <input type="text" name="first_name" value="<%= jugador.first_name %>" placeholder="Nombre">
        <input type="text" name="last_name" value="<%= jugador.last_name %>" placeholder="Apellido">

        <select name="club_id">
            <% clubes.forEach(club => { %>
                <% if (club.id === jugador.club_id) { %>
                    <option selected value="<%= club.id %>"><%= club.name %></option>
                <% } else { %>
                    <option value="<%= club.id %>"><%= club.name %></option>
                <% } %>
            <% }) %>
        </select>

        <input type="submit" value="Editar">
    </form>
</body>
</html>