<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalles del jugador <%= jugador.id %></h1>
    <h2>Nombre: <%= jugador.first_name %> <%= jugador.last_name %></h2>
    <h3>Club: <%= jugador.club.name %></h3>

    <img src="/images/clubes/<%= jugador.club.img %>" width="250px" alt="" srcset="">

    <a href="/jugadores/<%= jugador.id %>/edit">
        <button>Editar jugador</button>
    </a>
    
    <form action="/jugadores/<%= jugador.id %>/delete?_method=delete" method="post">
        <input type="submit" value="Eliminar jugador">
    </form>
</body>
</html>